
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo {
    position: relative;
    color: #ff5e8e;
    display: inline-block;
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 1.75s;
}

header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: #0169b2;
    font-weight: 500;
    font-size: 1.1em;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 18px;
    text-decoration: none;
    user-select: none;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes slide_top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
header ul li a.active ,
header ul li a:hover
 {
    background: #0169b2;
    color: #fff;
    border-radius: 30px;
}
.content {
    position: relative;
}
.content .textbox {
    position: relative;
    max-width: 550px;
}
.content .textbox h2 {
    color:#0169b2;
    font-size: 3.5em;
    margin-bottom: 10px;
    line-height: 1.2em;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay: 1.5s;
}
@keyframes slide_right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.content .textbox p {
    font-size: 1.2em;
    color: #333;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay: 1.75s;
}
@keyframes slide_left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #ff5e8e;
    color: #fff;
    font-size: 1.2em;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: 2s;
}
.sci {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li {
    list-style: none;
}
.sci li a {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    background: #0169b2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    opacity: 0;
    animation: slide_right 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}
.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}
.sci li a:hover {
    background: #ff5e8e;
    transform: translateY(-10px);
}
.mosque {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 900px;
    opacity: 0;
    animation: fase_in 1s linear forwards;
    animation-delay: 3.5s;
}
@keyframes fase_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 
